.page {
    width: 100%;
    min-height: 100vh;
}

.page-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#landing {
    height: 100vh;
    overflow: hidden;
}

.particles-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}