* {
    box-sizing: border-box;
}
  
:root {
    --size: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  color: black;
  background-color: white;

  transition:
        flex 0.3s ease-in-out, 
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

button:hover {
  color: white;
  background-color: black;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0 0% 6%);
}

.animatedBackground {
    background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#eec32d 72.0000010728836deg,#ec4b4b 144.0000021457672deg,#709ab9 216.00000858306885deg,#4dffbf 288.0000042915344deg,hsla(0,0%,98%,1) 1turn);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
            mask:
      radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
      url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
    -webkit-mask-composite: source-in, xor;
            mask-composite: intersect;
    -webkit-animation: flicker 20s infinite linear;
            animation: flicker 20s infinite linear;
    z-index: -1;        
}

@-webkit-keyframes flicker {
    to {
      -webkit-mask-position: 50% 50%, 0 50%;
              mask-position: 50% 50%, 0 50%;
    }
  }
  
  @keyframes flicker {
    to {
      -webkit-mask-position: 50% 50%, 0 50%;
              mask-position: 50% 50%, 0 50%;
    }
}

.topNav {
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 30%;
    height: fit-content;
    background-color: white;
    border-radius: 27px;
    padding: 5px;

    z-index: 1;
    white-space: nowrap;
    margin-bottom: auto;
}

.content {
  width: 100%;
  max-width: 1200px; /* Optional: adds a max width for larger screens */
  margin: 0 auto;
}

a {
  text-decoration: none;
  width: 100%;
  flex: 1;
  transition:
        flex 0.3s ease-in-out, 
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

a:hover {
    font-size: 17px;
    flex: 2;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

a.tab.active {
  background-color: black;
  color: white;
}

.tab {
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding: 5px 5px; 
    -webkit-text-stroke: 0.3px;
    
    border: transparent;
    background-color: transparent;
    
    transition:
        flex 0.3s ease-in-out, 
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

.tab:hover {
    font-size: 17px;
    flex: 2;
    background-color: black;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.tab.active {
    background-color: black;
    color: white;
}

.tab svg {
    margin-right: 5px;
}

.page {
    padding-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    overflow: auto;
    min-height: 100vh;
    height:max-content;
    scroll-snap-type: y mandatory;
}

  .dropbtn {
    border: transparent;
    background-color: transparent;
    color: white;
    border-radius: 50%;
  }
  
  .dropbtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .download-button {
    background-color: transparent;
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1;
  }
  
  .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: transparent; 
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover {
    background-color: white;
    color: black;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .download {
    color: transparent;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: transparent;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover .download {
    color: white;
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transform: translateY(100%);
  }
  
  .download svg polyline,
  .download svg line {
    animation: docs 1s infinite;
  }
  
  @keyframes docs {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(-15%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }

  .linkedIn {
    display: flex;
    color: white;
    border: transparent;
    background-color: transparent;
    border-radius: 5px;
  }

  .linkedIn:hover {
    color: black;
    background-color: white;
  }
  
  .aboutButton {
    display: flex;
    align-items: center;
    color: white;
    border: transparent;
    background-color: transparent;
    border-radius: 5px;
    gap: 5px;
  }

  .aboutButton:hover {
    color: black;
    background-color: white;
  }

  .profileButtons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  div[id] {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
