* {
    box-sizing: border-box;
}
  
:root {
    --size: 20px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #000000 0%, #a7a7a7 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202020; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  color: black;
  background-color: white;

  transition:
        flex 0.3s ease-in-out, 
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

button:hover {
  color: white;
  background-color: black;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0 0% 6%);
    background-color: black;
}

.topNav {
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 30%;
    height: fit-content;
    background-color: white;
    border-radius: 27px;
    padding: 5px;

    z-index: 1;
    white-space: nowrap;
    margin-bottom: auto;
}


a {
  text-decoration: none;
  width: 100%;
  flex: 1;
  transition:
        flex 0.3s ease-in-out, 
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

a:hover {
    font-size: 17px;
    flex: 2;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

a.active {
  background-color: black;
  color: white;
}

.tab {
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding: 5px 5px; 
    -webkit-text-stroke: 0.3px;
    
    border: transparent;
    background-color: transparent;
    
    transition:
        flex 0.3s ease-in-out, 
        font-size 0.3s ease-in-out,
        background-color 0.3s ease-in-out, 
        color 0.3s ease-in-out;
}

.tab:hover {
    font-size: 17px;
    flex: 2;
    background-color: black;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.tab.active {
    background-color: black;
    color: white;
}

.tab svg {
    margin-right: 5px;
}

.page {
    padding-top: 60px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    overflow: auto;
    min-height: 100vh;
    height:max-content;
    scroll-snap-type: y mandatory;
}

  .dropbtn {
    border: transparent;
    background-color: transparent;
    color: white;
    border-radius: 50%;
  }
  
  .dropbtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .download-button {
    background-color: transparent;
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1;
  }
  
  .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: transparent; 
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover {
    background-color: white;
    color: black;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .download {
    color: transparent;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: transparent;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .download-button:hover .download {
    color: white;
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transform: translateY(100%);
  }
  
  .download svg polyline,
  .download svg line {
    animation: docs 1s infinite;
  }
  
  @keyframes docs {
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(-15%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }

  .linkedIn {
    display: flex;
    color: white;
    border: transparent;
    background-color: transparent;
    border-radius: 5px;
  }

  .linkedIn:hover {
    color: black;
    background-color: white;
  }
  
  .aboutButton {
    display: flex;
    align-items: center;
    color: white;
    border: transparent;
    background-color: transparent;
    border-radius: 5px;
    gap: 5px;
  }

  .aboutButton:hover {
    color: black;
    background-color: white;
  }

  .profileButtons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  div[id] {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #landingText {
    pointer-events: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 400%;
    position: absolute;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 10px;
}

#landingSub {
  pointer-events: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 200%;
  position: absolute;
  color: white;
  top: 55%;
  left: 40%;
  z-index: 100;
  padding: 10px;
}

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leFadeInTop span { animation-name: leFadeInTop }
@keyframes leFadeInTop {
  from {
      opacity: 0;
      transform: translateY(-100%);
  }
  to { opacity: 1 }
}